// Desktop First Breakpoints 
$df-smaller-than-mobile    : "max-width: 400px" !default;
$df-smaller-than-phablet   : "max-width: 550px" !default;
$df-smaller-than-tablet    : "max-width: 750px" !default;
$df-smaller-than-desktop   : "max-width: 1000px" !default;
$df-smaller-than-desktophd : "max-width: 1200px" !default;

@mixin respond-mf($breakpoint) {
  @if $breakpoint == st-mobile {
    @media only screen and (#{$df-smaller-than-mobile}) {
      @content;
    }
  }
  @if $breakpoint == st-phablet {
    @media only screen and (#{$df-smaller-than-phablet}) {
      @content;
    }
  }
  @if $breakpoint == st-tablet {
    @media only screen and (#{$df-smaller-than-tablet}) {
      @content;
    }
  }
  @if $breakpoint == st-desktop {
    @media only screen and (#{$df-smaller-than-desktop}) {
      @content;
    } //1800
  }
  @if $breakpoint == st-desktophd {
    @media only screen and (#{$df-smaller-than-desktophd}) {
      @content;
    }
  }
}