// Mobile First Breakpoints 
$mf-larger-than-mobile    : "min-width: 400px" !default;
$mf-larger-than-phablet   : "min-width: 550px" !default;
$mf-larger-than-tablet    : "min-width: 750px" !default;
$mf-larger-than-desktop   : "min-width: 1000px" !default;
$mf-larger-than-desktophd : "min-width: 1200px" !default;

@mixin respond-mf($breakpoint) {
  @if $breakpoint == lt-mobile {
    @media only screen and (#{$mf-larger-than-mobile}) {
      @content;
    }
  }
  @if $breakpoint == lt-phablet {
    @media only screen and (#{$mf-larger-than-phablet}) {
      @content;
    }
  }
  @if $breakpoint == lt-tablet {
    @media only screen and (#{$mf-larger-than-tablet}) {
      @content;
    }
  }
  @if $breakpoint == lt-desktop {
    @media only screen and (#{$mf-larger-than-desktop}) {
      @content;
    } //1800
  }
  @if $breakpoint == lt-desktophd {
    @media only screen and (#{$mf-larger-than-desktophd}) {
      @content;
    }
  }
}