// Spacing
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button.margin {
  margin-bottom: 2rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}
